METADATA_DB_URL=jdbc:mysql://localhost:3306/dbaas_metadata?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
METADATA_DB_USERNAME=dbaas
METADATA_DB_PASSWORD=rohan@123
DBAAS_KUBECONFIG=C:/Users/rohan.vishwakarma/Desktop/yaml/dbaas.kubeconfig
